a, a:link, a:visited, .postmeta a:link, .postmeta a:visited, .postinfo a:link, .postinfo a:visited,
#comments a:link, #comments a:visited, #respond a:link, #respond a:visited, #sidebar .widgettitle, 
#bottombar widgettitle, .post-title, .post-title a:link, .post-title a:visited, #comments h3, 
#respond h3, #sidebar a:link, #sidebar a:visited, #bottombar a:link, #bottombar a:visited, .widget-tabnav li a {
	color: #ff3b14;
}
#sidebar .widgettitle, #bottombar .widgettitle,
#commentform input, #commentform textarea {
	border-left: 3px solid #ff3b14;
}
.post-title, .page-title,
#comments h3, #respond h3 {
	border-left: 5px solid #ff3b14;
}